<!DOCTYPE html>
<html>
<head>
  <title>Lakshya Jarvis AI</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">
  <h1>LAKSHYA JARVIS</h1>
  <p class="credit">Made by Lakshya</p>

  <div id="chat"></div>

  <button onclick="startListening()">🎤 ACTIVATE</button>

  <div class="links">
    <a href="https://www.instagram.com/_lakshhh__7" target="_blank">Instagram</a>
    <a href="https://youtube.com/@mr.gyani3" target="_blank">YouTube</a>
  </div>
</div>

<script src="/static/script.js"></script>
</body>
</html>
