body {
  margin: 0;
  background: black;
  color: cyan;
  font-family: Arial;
  text-align: center;
}

.container { padding: 20px; }

#jarvisCircle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 20px auto;
  border: 3px solid cyan;
  box-shadow: 0 0 25px cyan;
  animation: rotate 6s linear infinite;
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#chat {
  height: 260px;
  overflow-y: auto;
  border: 1px solid cyan;
  padding: 10px;
  margin: 10px;
  background: #000;
}

.user-msg {
  text-align: right;
  background: #003333;
  color: white;
  padding: 8px;
  margin: 5px;
  border-radius: 10px;
}

.ai-msg {
  text-align: left;
  background: #001111;
  color: cyan;
  padding: 8px;
  margin: 5px;
  border-radius: 10px;
}

input, button {
  padding: 8px;
  margin: 5px;
}
